html, body {
    margin: 0;
    height: 100%;
}



.card-img-top{
    width: 200px;
}

.card{
    margin: 50px;
}

.dark {
    background-color: black;
    min-height:100%;
    color: orange;
}

.div {
    margin : 10
    
}

.review-card {
    padding: 20px;
    margin-top: 15px;
}




